<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<context:component-scan base-package="com.aikshika,com.aikshika.entity,com.aikshika.common" />

	<tx:annotation-driven transaction-manager="transactionManager" />


	<task:annotation-driven />

	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> 
		<property name="basename" value="messages_en"></property> </bean> -->

	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- max upload size in bytes -->
		<property name="maxUploadSize" value="200971520" /> <!-- 200MB -->
		<!-- max size of file in memory (in bytes) -->
		<property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->
	</bean>
	<bean id="sbDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://54.89.59.195/dbschoolmanagementsystem"></property>
		<property name="username" value="sunilaikshika"></property>
		<property name="password" value="admin@123"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>

	<bean id="sessionFactory" name="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		lazy-init="false">
		<property name="dataSource" ref="sbDataSource" />
		<property name="annotatedClasses">
			<list>
			   <value>com.aikshika.entity.Feemanagement</value>
				<value>com.aikshika.entity.Mstaffiliation</value>
				<value>com.aikshika.entity.Mstbank</value>
				<value>com.aikshika.entity.Mstbloodgroup</value>
				<value>com.aikshika.entity.Mstcategory</value>
				<value>com.aikshika.entity.Mstcity</value>
				<value>com.aikshika.entity.Mstcountry</value>
				<value>com.aikshika.entity.Mstdisabilitychild</value>
				<value>com.aikshika.entity.Mstdocumentsupload</value>
				<value>com.aikshika.entity.Mstfeemanagement</value>
				<value>com.aikshika.entity.Mstfy</value>

				<value>com.aikshika.entity.Mstgender</value>
				<value>com.aikshika.entity.Msthomework</value>
				<value>com.aikshika.entity.Mstleave</value>
				<value>com.aikshika.entity.Mstlogin</value>
				<value>com.aikshika.entity.Mstmaritalstatus</value>
				<value>com.aikshika.entity.Mstmedium</value>
				<value>com.aikshika.entity.Mstmothertongue</value>
				<value>com.aikshika.entity.Mstquestionandanswer</value>
				<value>com.aikshika.entity.Mstregistration</value>
				<value>com.aikshika.entity.Mstrelation</value>
				<value>com.aikshika.entity.Mstreligion</value>

				<value>com.aikshika.entity.Mstschool</value>
				<value>com.aikshika.entity.Mstschoolconnect</value>
				<value>com.aikshika.entity.Mstschooltype</value>
				<value>com.aikshika.entity.Mstsemester</value>
				<value>com.aikshika.entity.Mstsocialcategory</value>
				<value>com.aikshika.entity.Mststate</value>
				<value>com.aikshika.entity.Mststream</value>
				<value>com.aikshika.entity.Mststudclass</value>
				<value>com.aikshika.entity.Mststudclassgroup</value>
				<value>com.aikshika.entity.Mststudclasssection</value>
                <value>com.aikshika.entity.Tblparentqueries</value>
				<value>com.aikshika.entity.Mststudent</value>
				<value>com.aikshika.entity.Mststudenttimetable</value>
				<value>com.aikshika.entity.Mstsubcategory</value>
				<value>com.aikshika.entity.Mstsubject</value>
				<value>com.aikshika.entity.Mstteacheranswer</value>
				<value>com.aikshika.entity.Mstteacherinvite</value>
				<value>com.aikshika.entity.Mstteacherproject</value>
				<value>com.aikshika.entity.Mstteachertimetable</value>
				<value>com.aikshika.entity.Mstterms</value>
				<value>com.aikshika.entity.Mstuploadstudmarksheet</value>

				<value>com.aikshika.entity.Tbladdresstype</value>
				<value>com.aikshika.entity.Tblbankname</value>
				<value>com.aikshika.entity.Tbldaysofweek</value>
				<value>com.aikshika.entity.Tblhomework</value>
				<value>com.aikshika.entity.Tblinvites</value>
				<value>com.aikshika.entity.Tblrolename</value>
				<value>com.aikshika.entity.Tblschoolandbranchdetail</value>
				<value>com.aikshika.entity.Tblstudentperformance</value>
				<value>com.aikshika.entity.Tblstudstaffrecord</value>
				<value>com.aikshika.entity.Trnattendancerecord</value>

				<value>com.aikshika.entity.Tbluserrole</value>
				<value>com.aikshika.entity.Trndocumentcategory</value>
				<value>com.aikshika.entity.Trndocumenttype</value>
				<value>com.aikshika.entity.Trndocumentupload</value>
				<value>com.aikshika.entity.Trnstudentleaveapp</value>
				<value>com.aikshika.entity.Trnteacherleaveapp</value>
				<value>com.aikshika.entity.Mstteachercheckin</value>

				<value>com.aikshika.entity.FormEntity</value>
				<value>com.aikshika.entity.Msttimings</value>
				<value>com.aikshika.entity.Mstsyllabus</value>
				<value>com.aikshika.entity.Tblclassteacher</value>
				
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.default_batch_fetch_size">8</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
				<prop key="hibernate.jdbc.batch_versioned_data">20</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.jdbc.fetch_size">100</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

		<property name="host" value="smtp.gmail.com" />

		<property name="port" value="587" />

		<property name="username" value="sunilkumara28@gmail.com" />

		<property name="password" value="gurupr@s@d@143" />

		<property name="javaMailProperties">

			<props>

				<prop key="mail.transport.protocol">smtp</prop>

				<prop key="mail.smtp.auth">true</prop>

				<prop key="mail.smtp.starttls.enable">true</prop>

				<prop key="mail.debug">true</prop>

			</props>

		</property>

	</bean>
	
	

</beans> 